*{
    /*初始化*/
    margin: 0;
    padding: 0;
    user-select:none;
}
body{
    /*100%窗口高度*/
    height: 100vh;
    /*弹性布局 水平+垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*渐变背景*/
    background: linear-gradient(200deg,#f3e7e9,#e3eeff);
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -9999999999;
    pointer-events: none;
}
body::before{
    background: url("bode.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.data{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    z-index: 999999;
}
.reminder{
    position: absolute;
    top: 0;
    width: 210px;
    height: 30px;
    color: red;
    font-weight: 1000;
    line-height: 30px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    font-family: 宋体;
    animation: reminder 1s linear;
}
@keyframes reminder {
    0%{
        top: -80px;
    }50%,
    100%{
        top: 0;
    }
}
.language{
    border: 2px dotted #cecece;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: -60px;
    background-color: rgba(255,255,255,0.6);
    height: 30px;
    line-height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    z-index: 9999999;
}
.language:hover{
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.language a{
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
}
.language a:hover{
    text-decoration: underline;
}
.language .language_l{
    width: 2px !important;
    color: #000;
}
.container{
    background-color:#fff ;
    width: 650px;
    height: 415px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2) ;
    position: relative;
}
.container .form-box{
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: rgba(119,206,240,0.6);
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s ease-in-out;
    /*背景模糊*/
    backdrop-filter: blur(4px);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.8);
}
.container .form-box form{
    text-align: center;
}
.container .form-box .register-box,
.container .form-box .login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container .form-box .hidden{
    display: none;
    transition:0.5s;
}
.container .form-box h1{
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    /*字体大写*/
    text-transform:uppercase;
    /*字间距*/
    letter-spacing: 5px;
}
.container .form-box input{
    background-color: transparent;
    width:90%;
    color: #fff;
    border: none;
    /*下边框样式*/
    border-bottom: 2px solid rgba(255,255,255,0.6);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
.container .form-box input::placeholder{
    color: #fff;
}
.container .form-box input:focus{
    color: #1782a8;
    outline: none;
    border-bottom: 2px solid #1782a880;
    transition: 0.3s linear;
}
.container .form-box input:focus::placeholder{
    opacity: 0;
}
.container .form-box .checkbox{
    width: 90%;
    margin: auto;
    text-align: right;
    color: #828282;
}
.container .form-box .checkbox input{
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 14px;
}
.container .form-box .checkbox label{
    font-size: 14px;
}
.container .form-box button{
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #1782a8;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.form-box button:hover{
    background-color: #1782a8;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}
.container .con-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.container .con-box.left{
    left: -2%;
}
.container .con-box.right{
    right: -2%;
}
.container .con-box h2{
    color: #8e9aaf;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 4px;
}
.container .con-box p{
    width: 90%;
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}
.container .con-box span{
    color: #77cef0;
}
.container .con-box img{
    width: 150px;
    opacity: 0.9;
    margin: 40px 0;
}
.container .con-box button,a{
    color: #1782a8;
}
.container .con-box a{
    font-weight: 1000;
    text-decoration: none;
}
.container .con-box a:hover{
    color: red;
    font-weight: 1000;
    transition: 0.2s ease-in-out;
    text-decoration: underline;
}
.container .con-box button{
    margin-top: 3%;
    background-color: #fff;
    border: 1px solid #77cef0;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.container .con-box button:hover{
    background-color: #77cef0;
    color: #fff;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: -102px;
    width: 210px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.5);
    border-top-right-radius: 5px;
    animation: copyright 2s ease-in-out;
    transition: all 0.3s linear;
}
.copyright:hover{
    left: 0;
}
.copyright p{
    color: #1782a8;
    font-size: 16px;
}
@keyframes copyright  {
    0%{
        left: -200px;
    }50%,
    100%{
        left: -102px;
    }
}