<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript">
        window.onload = function() {
            // 方法体
            let qq=document.getElementById("qq").value;
            let img = document.getElementsByTagName("img")[0];
            img.src="http://q1.qlogo.cn/g?b=qq&nk="+qq+"&s=5"
        }
    </script>
</head>
<body>
    <input id="qq" type="hidden" th:value="${session.loginUser.qq}">
    <img >
    <span th:text="${session.loginUser.administrator==1}?'管理员':'平民'" th:style="'background:'+(${session.loginUser.administrator==1}?'#f44336':'#cecece') +';color: #fff;padding: 10px;border-radius: 20px;'"></span>
    <h1>
        <a href=""><span th:text="${session.loginUser.qq}"></span></a>
        <span>欢迎您，该网站还在搭建，感谢您的理解</span>
    </h1>
</body>
</html>
