<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}" type="image/x-icon"/>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>用户登录 | Xiang の Web</title>
</head>
<body>
<div class="data">
    <span id="year"></span>
    <br>
    <span id="time"></span>
</div>
<div class="reminder" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}">
    <span>错误</span>
</div>
<div class="language">
    <a th:href="#{login.href_zh}">
        <span th:text="#{login.language_en}"></span>
    </a>
    <a class="language_l" href="javascript:void(0)"><span> | </span></a>
    <a th:href="#{login.href_en}">
        <span th:text="#{login.language_zh}"></span>
    </a>
</div>
<div class="container">
    <div class="form-box">
        <!--注册-->
        <div class="register-box hidden">
            <form th:action="@{/user/register}" method="post">
                <h1>register</h1>
                <input name="userName" required type="text" th:placeholder="#{login.UserName}">
                <input name="userPwd" required type="password" th:placeholder="#{login.password}">
                <input required type="password" th:placeholder="#{login.toPassword}">
                <input name="qq" required type="text" th:placeholder="#{login.email}">
                <button type="submit" th:text="#{login.Register}"></button>
            </form>
        </div>

        <!--登录-->
        <div class="login-box">
            <form th:action="@{/user/login}">
                <h1>login</h1>
                <input name="username" required type="text" th:placeholder="#{login.UserName}">
                <input name="userpwd" required type="password" th:placeholder="#{login.password}">
                <div class="checkbox">
                    <input type="checkbox">
                    <label th:text="#{login.remember}"></label>
                </div>
                <button th:text="#{login.Thelogin}"></button>
            </form>
        </div>
    </div>

    <div class="con-box left">
        <h2>
            <label th:text="#{login.hello}"></label>
            <br>
            <span>XiangのWeb</span>
        </h2>
        <p>
            <label th:text="#{login.proprietary}"></label>
            <span th:text="#{login.account}"></span>
            <label th:text="#{login.ba}"></label>
        </p>
        <img src="../image/logo.png" alt="">
        <p th:text="#{login.Existingaccount}"></p>
        <button id="login" th:text="#{login.ToLogIn}"></button>
    </div>
    <div class="con-box right">
        <h2>
            <label th:text="#{login.hello}"></label>
            <br>
            <span>XiangのWeb</span>
        </h2>
        <p>
            <label th:text="#{login.login}"></label>
            <span th:text="#{login.account}"></span>
            <label th:text="#{login.ba}"></label>
        </p>
        <img src="../image/logo.png" alt="">
        <p>
            [[#{login.Noaccount}]]
            <a th:href="@{/forget}" th:text="#{login.Forgetpassword}">?</a>
        </p>
        <button id="register" th:text="#{login.GoRegister}"></button>
    </div>
</div>
<div class="copyright">
    <p>I Love My Yu&copy;2022 Xiang</p>
</div>
</body>
</html>
<script type="text/javascript" th:src="@{/js/login.js}"></script>